<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">
<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>tracpatienttransfer</id>
	<name>MOH-TRAC Patient exits from care</name>
	<version>0.3.3.33</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Yves GAKUBA</author>
	<description>
			Management of exits of patients from care
	</description>
	
	<require_modules>
		<require_module version="0.1.1">org.openmrs.module.mohtracportal</require_module>
	</require_modules>

	<activator>@MODULE_PACKAGE@.TracPatientTransferActivator</activator>
	
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.6.2.12911</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
		
	<extension>
		<point>org.openmrs.patientDashboard.patientSummary</point>
		<class>@MODULE_PACKAGE@.extension.html.TracPatientTransferExt</class>
	</extension>
	
	<!-- <extension>
		<point>org.openmrs.patientDashboard.overviewBox</point>
		<class>@MODULE_PACKAGE@.extension.html.PatientExitOverviewTabExt</class>
	</extension> -->
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges  -->
	<privilege>
		<name>View Patient exited from care</name>
		<description>Able to view patients exited from care</description>
	</privilege>
	
	<privilege>
		<name>Exit a patient from care</name>
		<description>Able to exit a patient from care</description>
	</privilege>
	
	<privilege>
		<name>Resume care</name>
		<description>Able to resume a care</description>
	</privilege>
	
	<privilege>
		<name>Manage search/listing on Patient Exited from care</name>
		<description>Able to query on patients exited from care</description>
	</privilege>
	
	<!-- <privilege>
		<name>Manage Patients Resumed Care</name>
		<description>Able to view patients who resumed care</description>
	</privilege> -->
	
	<!-- Required Privileges -->


	<!-- Required Global Properties 
	<globalProperty>
		<property>@MODULE_ID@.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>rw</lang>
		<file>messages_rw.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
